{% extends "base.html" %} {% block content %}
<h1 class="text-center text-6xl"></h1>
<section class="bg-gray-800 dark:bg-white text-gray-100 dark:text-gray-800">
  <div
    class="container flex flex-col justify-center p-6 mx-auto sm:py-12 lg:py-24 lg:flex-row lg:justify-between"
  >
    <div
      class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left"
    >
      <h1 class="text-5xl font-bold leading-none sm:text-6xl">
        Sistem Rekomendasi
        <span class="text-blue-400 dark:text-blue-600">Magang Merdeka </span>
      </h1>
      <p class="mt-6 mb-8 text-lg sm:mb-12">
        Dictum aliquam porta in condimentum ac integer
        <br class="hidden md:inline lg:hidden" />turpis pulvinar, est
        scelerisque ligula sem
      </p>
      <div
        class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start"
      >
        <a
          rel="noopener noreferrer"
          href="/recommend"
          class="px-8 py-3 text-lg font-semibold rounded bg-blue-400 dark:bg-blue-600 text-gray-900 dark:text-gray-50"
          >Cari Rekomendasi</a
        >
        <a
          rel="noopener noreferrer"
          href="/magang"
          class="px-8 py-3 text-lg font-semibold border rounded border-gray-100 dark:border-gray-800"
          >List Magang</a
        >
      </div>
    </div>
    <div
      class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128"
    >
      <img
        src="https://www.dmoe.cc/random.php"
        alt=""
        class="object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128"
      />
    </div>
  </div>
</section>
<section
  class="m-4 md:m-8 bg-gray-800 dark:bg-white text-gray-100 dark:text-gray-800"
>
  <div class="container mx-auto p-4 my-6 space-y-2 text-center">
    <h2 class="text-5xl font-bold">Program Magang</h2>
    <p class="text-gray-400 dark:text-gray-600">
      Random 3 Program Magang yang tersedia oleh Magang Merdeka
    </p>
  </div>
  <div
    class="container mx-auto grid justify-center gap-4 sm:grid-cols-2 lg:grid-cols-3"
  >
    {% for item in items %}
    <div class="flex flex-col justify-center items-center p-4">
      <img src="{{ item.logo }}" alt="" class="max-h-16" />
      <a
        class="my-3 text-3xl font-semibold text-center"
        href="/magang/{{ item.id }}"
      >
        {{ item.name }}
      </a>
      <div class="space-y-1 leading-tight">
        <p>{{ item.mitra_name }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="container mx-auto p-4 my-6 space-y-2 text-center">
    <a
      rel="noopener noreferrer"
      href="/magang"
      class="px-8 py-3 text-lg font-semibold rounded bg-blue-400 dark:bg-blue-600 text-gray-900 dark:text-gray-50"
      >Selengkapnya</a
    >
  </div>
</section>
{% endblock content %}
